* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------------------------------Colors----------------------------------*/

.title,
.nav-item,
.heading,
a,
.about-text,
h2 {
  color: #1d3557;
}

.navbar {
  border-bottom: #1d3557 solid 1em;
}

a:hover,
.foot {
  background-color: #1d3557;
  color: #fff;
}
.heading,
a:hover {
  border: #1d3557 solid 2px;
}

.heading {
  background-color: #fff;
}

/*---------------------------------------NAV BAR--------------------------------------*/

.title,
.nav-item,
a {
  font-size: 1.2em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 1rem;
  flex-wrap: wrap;
}

.title {
  margin-left: 1rem;
  font-size: 2em;
}

.nav-list {
  display: flex;
}

.nav-item {
  list-style-type: none;
  padding: 0 3rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
}

a:hover {
  border-radius: 10%;
}

/*--------------------------------- image and slogan in header ---------------------------------*/

.main-img{
  height: 100vh;
  background-image: url(london.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 3rem;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.5);
}

.heading {
  align-self: center;
  margin-left: 5rem;
  font-size: 5em;
  font-weight: bold;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.5);
}

/*---------------------------------- Partners section ----------------------------------*/

.partners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 3rem 2rem;
  padding: 2rem;
}

.partner-img {
  width: 10rem;
  height: auto;
}

/*----------------------------------- About us Article -----------------------------------*/

.about {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 10%;
}

.about-text {
  display: flex;
  flex-direction: column;
  width: 40%;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.5);
}

.about-text,
h2 {
  padding: 1rem;
}

.about-text,
p {
  padding: 1rem;
  line-height: 1.4;
  font-size: 1em;
}

.about-us-img {
  max-width: 40%;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.5);
}

/*------------------------------------- Service Section -------------------------------------*/

.service-title {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.service-title,
h2 {
  font-size: 2em;
}

.card-section {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3rem;
  flex-wrap: wrap;
}

.card-img {
  width: 80%;
  height: auto;
  margin-bottom: 1rem;
}

.card {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.5);
}

.card,
h3 {
  font-size: 1.6em;
}

.card,
p {
  font-size: 1em;
}

/*------------------------------------------- Footer ------------------------------------------*/

.foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  border-top: #fca311 solid 3px;
}

.foot-img {
  height: 6rem;
}

.foot-contact,
.foot-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------------------------------projects page-----------------------------------*/

.projects {
  margin: 0 3rem;
}

.project-card-container{
  display: flex;
  justify-content: space-around;

}
.project-title {
  margin: 0 auto;
  justify-self: center;
}

.project-cards {
  display: flex;
  gap: 3rem;
}

/*-------------------------------media queries-----------------------------------*/

@media only screen and (max-width: 600px){
  .about-us-img{
    display: none;
  }

  .about-text{
    width: auto;
  }

  .card {
    width: auto;
  }
}